node_modules/
target/
_out/
gen/

.cdsrc-private.json
default-*.json
*.sqlite
*.db
*.db-shm
*.db-wal

# MTA
mta_archives/
*_mta_build_tmp
*.mtar
Makefile_*.mta

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models
.env
